body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: yellow;
    color: black;
}

header{
    text-align: center;
    padding: 20px;
    background-color: yellow;
}

main{
    padding: 20px;
    background-color: rgb(75, 75, 75);
}

footer{
    width: 1900px;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.movedor{
    text-align: center;
    justify-content: center;
}

a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
}

.foto{
    width: 200px;
}

#logincor{
    color: rgb(255, 218, 7);
}

.checkbox{
    color: rgb(255, 255, 95);
}

.login{
    justify-content: center;
    text-align: center;
}

#corbotao{
    background-color: rgb(255, 255, 109);
}