* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: yellow;
    justify-content: center;
    align-items: center;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .direitos{
    justify-content: center;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

header{
  text-align: center;
  padding: 20px;
}
  .cadastro-box {
    background-color: #2e2e2e; 
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
  
  .cadastro-title {
    color:yellow;
    text-align: center;
    font-size: 50px;
    margin-bottom:20px;
   
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    max-width: 3000px;
    padding: 10px;
    font-size: 20px;
  }
  
  .btn-proximo {
    background-color: yellow;
    color: #000000;
    padding: 20px;
    font-size: 20px;
    width: 200px; 
; 
 }
  
  .btn-proximo:hover {
    background-color:yellow;
  }

  #cadasrobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }