* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: yellow;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.direitos {
  justify-content: center;
  bottom: 0%;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: rgb(246, 246, 246);
}

input{
 background-color: #716e6e;
 
}

header {
  text-align: center;
  padding: 20px;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 20px;
  width: 100%;
}

.topo img {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.topo p {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.topo p {
  font-size: 24px;
  font-weight: bold;
}


.cadastro-box {
  background-color: #323030;
  border-radius: 20px;
  padding: 200px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  
}


.cadastro-title {
  color: yellow;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  background-color: #716e6e; 
  padding: 5px;
  border-radius: 0px;
  color: #000000;
}


.form-group input {
  width: 100%;
  max-width: 3000px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color: #000000;
}


.data-inputs {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  font-size: 10px;
  color: #000000;


}




.btn-proximo {
  background-color: rgb(210, 210, 56);
  color: #000000;
  padding: 20px;
  font-size: 10px;
  width: 250px;
  border-radius: 20px; 
  cursor: pointer;
}





#cadasrobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

