body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe500;
    color: black;
}

#navbar{
    background-color: #ffe500;

}

#titulo{
    background-color: #dbc607;
    padding: 0px;
    border-radius: 50px;
    margin: 15px;
    font-size: 25px;
}

.flex{
    display: flex;
}

#logo{
    height: 127px;
}

#corpo{
    background-color: #3b3b3a;
    padding: 50px;
    padding-bottom: 617px;
    border-radius: 10px;
}

.app{
    background-color: #ffe500;
    padding: 40px;
    border-radius: 20px;
}