body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe500;
    color: black;
}

#navbar{
    background-color: #ffe500;

}

#titulo{
    background-color: #dbc607;
    padding: 0px;
    border-radius: 50px;
    margin: 15px;
    font-size: 25px;
}

.flex{
    display: flex;
}

#logo{
    height: 127px;
}

#corpo{
    background-color: #3b3b3a;
    padding: 13px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin: 0%;
    align-items: center;
}

.app{
    background-color: #ffe500;
    padding: 5px;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px
    
}

#rota{
    background-color: #ffe500;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    padding-left: 29px;
    padding-right: 29px;
    
}

#usuarioCorpo{
    background-color: #ffe500;
    padding: 5px;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

#relatorioCorpo{
    background-color: #ffe500;
    padding: 5px;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    padding-left: 21px;
    padding-right: 21px;
}

.notificacoes{
    background-color: #ffe500;
    padding: 15px;
    border-radius: 20px;
    margin: 15px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
}

.icone{
    height: 120px;
}

#relatorio{
    height: 100px;
}

p{
    margin:0%
}

#notif{
    padding: 20px;
    background-color: black;
    color: #dbc607;
    border-radius: 25px;
    text-align: center;
}

#iconNotif{
    height: 130px;
}