body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe500;
    color: black;
}

header{
    text-align: center;
    padding: 20px;
    background-color: yellow;
}

main{
    margin: 10px;
    padding: 20px;
    background-color: rgb(75, 75, 75);
}

.direitos{
    justify-content: center;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.movedor{
    text-align: center;
    justify-content: center;
}

a{
    color: black;
    text-decoration: none;
}

.foto{
    width: 200px;
}

#logincor{
    color: rgb(255, 218, 7);
}

.checkbox{
    color: rgb(255, 255, 95);
}

.login{
    justify-content: center;
    text-align: center;
}

#corbotao{
    background-color: rgb(255, 255, 99);
}

.quadradoAmarelo{
    background-color: yellow;
    padding: 10px;
    border-radius: 20px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding{
    padding: 20px;
}

.Gerenciador{
    direction: ltr;
    color: white;
    padding: 20px;
}

#botaoFuncionario{
    width: 700px;
    height: 50px;
    background-color: rgb(255, 255, 99);
    border-radius: 52px;
}

#arrumador{
    justify-content: center;
    align-items: center;
}

.nav{
    direction: ltr;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.funcionariano{
    width: 200px;
    padding: 20px;
    border-radius: 52px;
}

.adicionar{
    display: flex;
    align-items: center;
    text-align: center;
}

.scroll{
    direction: rtl;
    overflow-y: scroll;
    height: 80%;
    scrollbar-color: yellow gray;
}


.pesquisar{
    background-color: grey;
    border-radius: 20px;
}

#lupa{
    width:110%;
}

.flexB{
    display: flex;
}

#navbar{
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 10%;
    display: flex;
}

#navbar2{
  display: flex;
  justify-content: center;
 align-items: center;
}

.Container{
    background-color: yellow;
    color: black;
    text-align: center;
    border-radius: 20px;
}

.TelaLinha{
    background-color: black;
}

.ContatarMaquinista{
    background-color: yellow;
    text-align: center;
    border-radius: 50px;
}

.DefeitoChuva{
    color: rgb(245, 130, 130);
    text-align: center;
    background-color: darkred;
    
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AlterarRota{
    background-color: yellow;
    text-align: center;
    border-radius: 50px;
}

.Alerta{
    width: 300px;
}

.Alerta2{
    width: 200px;
}

.Teste{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.LinhaChuva{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.voltar{
    height: 100px;
}

.imagemrotas{
    height: 170px;
}